<div id="main"></div>


<script id="createPlaneTemplate" type="text/template">
  <div class="ui middle aligned center aligned grid">
    <h1> Virgin Airlines</h1>

    <button id="new_plane" class="ui large button">Create Plane</button>
    <p>
      <div id="plane_form" style="display: none" class="ui large form">
        <input id="plane_name" type="text" placeholder="name"/>
        <input id="plane_row" type="text" placeholder="no. of row"/>
        <input id="plane_col" type="text" placeholder="no. of col"/>

        <button class="ui large button">Cancel</button>
        <button class="ui large button">Save</button>
      </div>
    </div>
  </p>
</script>
