<div id="main"></div>
<div id="results"></div>

<!-- main template for backbone to receive inputs for search flight-->
<script id="searchFlightTemplate" type="text/template">
  <div class="ui middle aligned center aligned grid">
    <h1> Virgin Airlines</h1>

    <button id="search_flight" class="ui large button">Search Flights</button>
    <p>
      <div id="search_form" style="display: none" class="ui large form">
        <input id="departure" type="text" placeholder="from" value="Sydney" />
        <input id="arrival" type="text" placeholder="to" value="Melbourne"/>

        <button id="cancel_search" class="ui large button">Cancel</button>
        <button id="save_search" class="ui large button">Search</button>
      </div>
    </p>
    <div id="search_results"></div>
  </div>
</script>


<!-- main template for backbone to print out search results -->
<script id="searchResultsTemplate" type="text/template">
  <div class="ui container">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Flight#</th>
          <th>From and To</th>
          <th>Available Seats</th>
          <th>Total No. of Seats</th>
          <th>Action</th>
        </tr>
      </thead>
    {{ _.each(results, function(flight){ }}
      <tr>
        <td>{{= flight.get("date") }}</td>
        <td><a class="flightID" href="#/flight/{{= flight.get("id")}}">{{= flight.get("number") }}</a></td>
        <td>{{= flight.get("departure") }} > {{= flight.get("arrival") }}</td>
        <td>{{= _.findWhere(App.airplanes.models, {id: flight.get("airplane_id")}).attributes.row * _.findWhere(App.airplanes.models, {id: flight.get("airplane_id")}).attributes.column - _.where(_.pluck(App.reservations.models, 'attributes'), {flight_id: flight.get("id")}).length }}</td>
        <td>{{= _.findWhere(App.airplanes.models, {id: flight.get("airplane_id")}).attributes.row * _.findWhere(App.airplanes.models, {id: flight.get("airplane_id")}).attributes.column }}</td>
        <td>
          <button id="{{= flight.get("id")}}" class="ui large button">Select</button>
        </td>
      </tr>
    {{ }); }}
    </table>
  </div>
</script>


<!-- main template for backbone to print out reservations -->
<script id="reservationsTemplate" type="text/template">
  <div>
    {{ _.each(results, function(flight){ }}
    <h4>{{= flight.get("date") }} {{= flight.get("number") }} {{= flight.get("departure") }} > {{= flight.get("arrival") }}</h4>
    {{ }); }}
    <div id="seatPlan"></div>
  </div>
</script>
