<div id="main"></div>

<h1> Virgin Airlines</h1>


<script id="createPlaneTemplate" type="text/template">

  <input id="plane_name" type="text" placeholder="name"/>
  <input id="plane_row" type="text" placeholder="no. of row"/>
  <input id="plane_col" type="text" placeholder="no. of col"/>

  <button>Cancel</button>
  <button>Save</button>


</script>
