<div class="ui main text container pushable">

  <%= form_tag create_airplanes_path, method: "post", class: "ui form" do %>

    <p>
      <label>Name</label>
      <input type="text" name="name" placeholder="name"/>
    </p>
    <p>
      <label>Rows</label>
      <input type="number" name="rows" min="5" max="10" placeholder="no. of rows - input value from 5 to 10"/>
    </p>
    <p>
      <label>Columns</label>
      <input type="number" name="columns" min="20" max="50" placeholder="no. of cols - input value from 20 to 50"/>
    </p>
    <p>
      <input type="submit" value="Create" class="ui button"/>
    </p>


  <% end %>

</div>
