<div class="ui main text container pushable">

  <%= form_tag create_flights_path, method: "post", class: "ui form" do %>
    <p>
      <label>Airplane name</label>
      <select name="airplane_id", class="ui selection dropdown">
        <% @airplanes.each do |a| %>
          <option value="<%= a.id %>"><%= a.name %></option>
        <% end %>
      </select>
    <p>
      <label>Number</label>
      <input type="text" name="number" placeholder="flight number"/>
    </p>
    <p>
      <label>Date</label>
      <input type="date" name="date" placeholder="flight date DD/MM/YYYY"/>
    </p>
    <p>
      <label>From</label>
      <input type="text" name="departure" placeholder="departure point"/>
    </p>
    <p>
      <label>To</label>
      <input type="text" name="arrival" placeholder="arrival point"/>
    </p>
    <p>
      <input type="submit" value="Create" class="ui button"/>
    </p>


  <% end %>

</div>
